.car-item img{
width: 50%;
height: 50%

}

#form-container {
    background-color: teal;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    
}

#form {
    display: flex;
    flex-direction: column;
}

#form div {
    margin-bottom: 10px;
}

#form label {
    font-weight: bold;
}

#form input,
#form select {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}